.pokemons {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}
.pokemons__item {
    width: 400px;
    margin-bottom: 40px;
}
.pokemons__item-title {
    margin: 0;
    font-size: 24px;
}